<%= form_for @person, :url => person_path(@person) do |f| %>
    <div class="row">
        <%= f.label "Name", :style=> "margin-right:10px" %>
        <%= f.text_field :name %>
    </div>
    <div class="row">
        <%= f.label :affiliation, :style=> "margin-right:10px" %>
        <%= f.text_field :affiliation%>
    </div>
    <div class="row">
        <%= f.label :details, :style=> "margin-right:10px" %>
        <%= f.text_area :details, :cols => 24, :rows => 6%>
    </div>
    <div class="row">
        <%= f.submit %>
    </div>
<% end %>