<script type="text/javascript">
    $(document).ready(function() {    
        $("#piece_classification").change(function() {     
            $.post("/pieces/materials", { surface: $(this).val() }, function(data) {
                populateDropdown($("#piece_medium"), data);
            });
        });
        $('#piece_artist').autocomplete('/artists.js');
    });
 
    function populateDropdown(select, data) {
        select.html('');
        if (data==null)
        {
            $("#piece_medium_container")[0].innerHTML = '<label for="piece_medium" style="margin-right:10px">Medium</label><input id="piece_medium" name="piece[medium]" type="text" size="30"/>';
            
        }
        else
        {
            var select_start ='<label for="piece_medium" style="margin-right:10px">Medium</label><select id="piece_medium" name="piece[medium]"><option value=""></option>';
            $.each(data, function(id, option) {
                select_start += '<option>'+option+'</option>';
            });       
            $("#piece_medium_container")[0].innerHTML = select_start;
        }
        
    }
</script>


<%= form_for @p, :url => piece_path, :html => {:multipart => true} do |f|%>
    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#form_basic_info">Basic Information</a></li>
        <li><a href="#form_dims">Dimensions</a></li>
        <li><a href="#form_packing">Packing and Storage</a></li>
        <li><a href="#form_loans">Loan Information</a></li>
        <li><a href="#form_hanging">Installation</a></li>
        <li><a href="#form_notes">Notes</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
                <div class="active tab-pane" id="form_basic_info">
                    <div class="row">
                        <%= f.label "Accession #", :style=> "margin-right:10px"%>
                        <%= f.text_field :accession %>
                    </div>
                    <div class="row">
                        <%= f.label :accession_date , :style=> "margin-right:10px"%>
                        <%= f.text_field :accession_date %>
                    </div>
                    <div class="row">
                        <%= f.label :title, :style=> "margin-right:10px" %>
                        <%= f.text_field :title %>
                    </div>
                    <div class="row">
                        <%= f.label :artist, :style=> "margin-right:10px" %>
                        <%= f.text_field :artist%>
                    </div>
                    <div class="row">
                        <%= f.label :creation_date, :style=> "margin-right:10px" %>
                        <%= f.text_field :creation_date %>
                    </div>
                    <div class="row">
                        <%= f.label :classification, :style=> "margin-right:10px"%>
                        <%= f.select :classification, @p.class.classifications, :include_blank => true%>
                    </div>

                    <div class="row" id="piece_medium_container">
                        <%= f.label :medium, :style=> "margin-right:10px"%>
                        <%= f.select :medium, [''], :include_blank => true%>
                    </div>

                </div>
                <div class="tab-pane" id="form_dims">
                    <div class="row">
                            <%= f.label :dimensions, :style=> "margin-right:10px"%>
                            <%= f.text_field :dimensions %>
                    </div>
                    <div class="row">
                        <%= f.label :framed_dimension, :style=> "margin-right:10px" %>
                        <%= f.text_field :framed_dimension %>
                    </div>
                </div>
                <div class="tab-pane" id="form_packing">
                    <div class="row">
                        <%= f.label :packed_in, :style=> "margin-right:10px"%>
                        <%= f.select :packed_in, ["Crate", "Box", "Bin", "Portfolio"], :include_blank => true %>
                    </div>
                    <div class="row">
                        <%= f.label :packed_with, :style=> "margin-right:10px" %>
                        <%= f.select :packed_with, ["Bubble", "Glassine", "Dartek", "Collar"], :include_blank => true%>
                    </div>
                    <div class="row">
                        <%= f.label :packed_dimension, :style=> "margin-right:10px" %>
                        <%= f.text_field :packed_dimension %>
                    </div>
                    <div class="row">
                        <%= f.label :location, :style=> "margin-right:10px" %>
                        <%= f.select :location, Location.all.map(&:name) %>
                    </div>
                </div>
                <div class="tab-pane" id="form_loans">
                    <div class="row">
                        <%= f.label :owner, :style=> "margin-right:10px" %>
                        <%= f.text_field :owner %>
                    </div>
                    <div class="row">
                        <%= f.label :loan_date, :style=> "margin-right:10px" %>
                        <%= f.text_field :loan_date %>
                    </div>
                    <div class="row">
                        <%= f.label :outgoing_loan, :style=> "margin-right:10px"%>
                        <%= f.check_box :outgoing_loan%>
                    </div>
                    <div class="row">
                        <%= f.label :incoming_loan, :style=> "margin-right:10px"%>
                        <%= f.check_box :incoming_loan%>
                    </div>
                </div>
                <div class="tab-pane" id="form_notes">
                    <div class="row">
                        <%= f.label :tags, :style=> "margin-right:10px" %>
                        <%= f.text_field :tags %>
                    </div>
                    <div class="row">
                        <%= f.label :condition_notes, :style=> "margin-right:10px" %>
                        <%= f.text_area :condition_notes, :cols => 24, :rows => 6 %>
                    </div>
                </div>
                <div class="tab-pane" id="form_hanging">
                    <div class="row">
                        <%= f.label :hanging_hardware, :style=> "margin-right:10px" %>
                        <%= f.text_area :hanging_hardware, :cols => 24, :rows => 6 %>
                    </div>
                    <div class="row">
                        <%= f.label :handling_instructions, :style=> "margin-right:10px" %>
                        <%= f.text_area :handling_instructions, :cols => 24, :rows => 12 %>
                    </div>
                </div>
              </div>
    <%= f.submit %>
<% end %>