<script type="text/javascript">
    $(document).ready(function() {    
        $("#piece_classification").change(function() {     
            $.post("/pieces/materials", { surface: $(this).val() }, function(data) {
                populateDropdown($("#piece_medium"), data);
            });
        });

    });
    var allArtists = [];
    $.get("/artists.js", function(data){
        allArtists= JSON.parse(data);
    })
    var allPeople = [];
    $.get("/people.js", function(data){
        allPeople = JSON.parse(data);
    })
    $('.typeahead' && '.artist').typeahead({source:allArtists});
    $('.typeahead' && '.people').typeahead({source:allPeople});
    
    function populateDropdown(select, data) {
        select.html('');
        if (data==null)
        {
            $("#piece_medium_container")[0].innerHTML = '<label for="piece_medium" style="margin-right:10px">Medium</label><input id="piece_medium" name="piece[medium]" type="text" size="30"/>';
            
        }
        else
        {
            var select_start ='<label for="piece_medium" style="margin-right:10px">Medium</label><select id="piece_medium" name="piece[medium]"><option value=""></option>';
            $.each(data, function(id, option) {
                select_start += '<option>'+option+'</option>';
            });       
            $("#piece_medium_container")[0].innerHTML = select_start;
        }
        
    }
</script>
<div class="row-fluid">
<%= form_for @piece, :url => pieces_path, :html => {:multipart => true} do |f|%>
    <ul id="new_piece_tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#basic_info" data-toggle="tab">Basic Information</a></li>
        <li><a href="#dims" data-toggle="tab">Dimensions</a></li>
        <li><a href="#packing" data-toggle="tab">Packing and Storage</a></li>
        <li><a href="#loans" data-toggle="tab">Loan Information</a></li>
        <li><a href="#hanging" data-toggle="tab">Installation</a></li>
        <li><a href="#notes" data-toggle="tab">Notes</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content" style="padding-left:10%">
                <div class="tab-pane fade active in" id="basic_info">
                    <div class="row">
                        <%= f.label "Accession #", :style=> "margin-right:10px"%>
                        <%= f.text_field :accession %>
                    </div>
                    <div class="row">
                        <%= f.label :accession_date, :style=> "margin-right:10px" %>
                        <%= f.text_field :accession_date %>
                    </div>
                    <div class="row">
                        <%= f.label :title, :style=> "margin-right:10px" %>
                        <%= f.text_field :title %>
                    </div>
                    <div class="row">
                        <%= f.label :artist, :style=> "margin-right:10px"%>
                        <%= f.text_field :artist, :class=>"typeahead artist"%>
                    </div>
                    <div class="row">
                        <%= f.label :creation_date, :style=> "margin-right:10px" %>
                        <%= f.text_field :creation_date %>
                    </div>
                    <div class="row">
                        <%= f.label :classification, :style=> "margin-right:10px"%>
                        <%= f.select :classification, @piece.class.classifications, :include_blank => true%>
                    </div>
                        
                    <div class="row" id="piece_medium_container">
                        <%= f.label :medium, :style=> "margin-right:10px"%>
                        <%= f.select :medium, [""]%>
                    </div>
                    <div class="row">
                        <%= f.label :photo, :style=> "margin-right:10px" %>
                        <%= f.file_field :photo %>
                    </div>
                </div>
                <div class="tab-pane fade" id="dims">
                    <div class="row">
                            <%= f.label :dimensions, :style=> "margin-right:10px"%>
                            <%= text_field_tag "piece_dimensions_h", "h", :class => "span1"%>
                            <div class="input-prepend.span1">
                                            <span class="add-on">x</span>
                                            <%= text_field_tag "piece_dimensions_w", "w", :class => "span1"  %> 
                            </div>
                            <div class="input-prepend.span1">
                                            <span class="add-on">x</span>
                                            <%= text_field_tag "piece_dimensions_d", "d", :class => "span1"  %>
                            </div>
                    </div>
                    <div class="row">
                        <%= f.label :framed_dimension, :style=> "margin-right:10px" %>
                        <%= text_field_tag "framed_dimension_h", "h", :class => "span1"%>
                          <div class="input-prepend.span1">
                                          <span class="add-on">x</span>
                                          <%= text_field_tag "framed_dimension_w", "w", :class => "span1"  %> 
                          </div>
                          <div class="input-prepend.span1">
                                          <span class="add-on">x</span>
                                          <%= text_field_tag "framed_dimension_d", "d", :class => "span1"  %>
                          </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="packing">
                    <div class="row">
                        <%= f.label :packed_in, :style=> "margin-right:10px"%>
                        <%= f.select :packed_in, ["Crate", "Box", "Bin", "Portfolio"], :include_blank => true %>
                    </div>
                    <div class="row">
                        <%= f.label :packed_with, :style=> "margin-right:10px" %>
                        <%= f.select :packed_with, ["Bubble", "Glassine", "Dartek", "Collar"], :include_blank => true%>
                    </div>
                    <div class="row">
                        <%= f.label :packed_dimension, :style=> "margin-right:10px" %>
                        <%= text_field_tag "packed_dimension_h", "h", :class => "span1"%>
                        <div class="input-prepend.span1">
                                        <span class="add-on">x</span>
                                        <%= text_field_tag "packed_dimension_w", "w", :class => "span1"  %> 
                        </div>
                        <div class="input-prepend.span1">
                                        <span class="add-on">x</span>
                                        <%= text_field_tag "packed_dimension_h", "d", :class => "span1"  %>
                        </div>
                    </div>
                    <div class="row">
                        <%= f.label :location, :style=> "margin-right:10px" %>
                        <%= f.select :location, Location.all.map(&:name) %>
                    </div>
                </div>
                <div class="tab-pane fade" id="loans">
                    <div class="row">
                        <%= f.label :owner, :style=> "margin-right:10px" %>
                        <%= f.text_field :owner %>
                    </div>
                    <div class="row">
                        <%= f.label :loan_date, :style=> "margin-right:10px" %>
                        <%= f.text_field :loan_date %>
                    </div>
                    <div class="row">
                        <%= f.label :outgoing_loan, :style=> "margin-right:10px"%>
                        <%= f.check_box :outgoing_loan%>
                    </div>
                    <div class="row">
                        <%= f.label :incoming_loan, :style=> "margin-right:10px"%>
                        <%= f.check_box :incoming_loan%>
                    </div>
                </div>
                <div class="tab-pane fade" id="notes">
                    <div class="row">
                        <%= f.label :tags, :style=> "margin-right:10px" %>
                        <%= f.text_field :tags %>
                    </div>
                    <div class="row">
                        <%= f.label :condition_notes, :style=> "margin-right:10px" %>
                        <%= f.text_area :condition_notes, :cols => 24, :rows => 6 %>
                    </div>
                </div>
                <div class="tab-pane fade" id="hanging">
                    <div class="row">
                        <%= f.label :hanging_hardware, :style=> "margin-right:10px" %>
                        <%= f.text_area :hanging_hardware, :cols => 24, :rows => 6 %>
                    </div>
                    <div class="row">
                        <%= f.label :handling_instructions, :style=> "margin-right:10px" %>
                        <%= f.text_area :handling_instructions, :cols => 24, :rows => 12 %>
                    </div>
                </div>
              </div>
    <%= f.submit :class => "btn btn-primary", :style => "margin-left:10%"%>
<% end %>
</div>

