<%= javascript_include_tag "jquery.tablesorter.min.js"%>
<script>
  <% if @p.events.length > 1 %>
  $(function() {
    $("table#pieceEventIndexTable").tablesorter({ sortList: [[1,0]] });
  });
  <% end %>
  var allArtists = [];
  $.get("/artists.js", function(data){
      allArtists= JSON.parse(data);
      $('.typeahead' && '.artist').typeahead({source:allArtists});
  })
  var allPeople = [];
  $.get("/people.js", function(data){
      allPeople = JSON.parse(data);
      $('.typeahead' && '.people').typeahead({source:allPeople});
  })
 
</script>
<!--  modal content -->

<div id="modal-from-dom" class="modal hide fade in" style="width:60%">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
    <h3>Edit Object</h3>
  </div>
  <div class="modal-body">
      <%= render "piece_form"%>
  </div>
</div>
<div id="person-modal-from-dom" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Person</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
        <%= form_tag("/pieces/#{@p.id}/add_person") do %>
                <%= label_tag :person, "Person", :style=> "margin-right:10px"%>
                <%= text_field_tag "piece_person_select", "", {:class=>"typeahead people"}%>
                <%= submit_tag "Add" %>
        <% end %>
        </div>
    </div>
</div>
    <ul id="piece-tab" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#basic_info" data-toggle="tab">Object</a></li>
        <li><a href="#dims" data-toggle="tab">Specifications</a></li>
        <li><a href="#loans" data-toggle="tab">Loans</a></li>
        <% unless @p.events.empty? %>
        <li><a href="#events" data-toggle="tab">History</a></li>
        <% end %>
        <% unless @p.people.empty?%>
        <li><a href="#people" data-toggle="tab">Contacts</a></li>
        <% end %>
        <li><a href="#notes" data-toggle="tab">Notes</a></li>
    </ul>
    <div class="container-fluid">
        <div class="row=fluid">
            <div class="span6">
                <%= image_tag @p.photo.url(:xlarge)%>
            </div>
            <div class="span3 offset1">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane fade active in" id="basic_info" style="font-size:20px">
                        <%= render "basic_info"%>
                    </div>
                    <div class="tab-pane fade" id="dims" style="font-size:20px">
                        <%= render "dimensions"%>
                        <%= render "packing_info"%>
                        <%= render "hanging" %>
                    </div>
                    <div class="tab-pane fade" id="packing" style="font-size:20px">
                        <%= render "packing_info"%>
                    </div>
                
                    <div class="tab-pane fade" id="loans" style="font-size:20px">
                        <%= render "loans"%>
                    </div>
                
                    <div class="tab-pane fade" id="notes" style="font-size:20px">
                        <%= render "notes"%>
                    </div>
          
                    <div class="tab-pane fade" id="hanging" style="font-size:20px">
                    </div>
                    <div class="tab-pane fade" id="events" style="font-size:20px">
                        <div class="row-fluid">
                        <table class="table table-striped table-condensed" id="pieceEventIndexTable"> 
                            <thead> 
                                <tr> 
                        	        <th>Event Date</th> 
                                    <th>Event Type</th>
                                    <th>Owner</th> 
                                </tr> 
                            </thead> 
                            <tbody>
                                <% for e in @p.events %>
                                <tr>
                                    <td><%= e.event_time.to_date%></td>
                                    <% if e.event_tags.empty?%>
                                    <td> <%= e.event_type %></td>
                                    <% else %>
                                    <td><a href="#" rel="popover" data-content="<%=e.event_tags%>"><%= e.event_type %></a>
                                              <script>
                                                $(function () {
                                                  $("a[rel=popover]")
                                                    .popover({
                                                      offset: 10
                                                    })
                                                    .click(function(e) {
                                                      e.preventDefault()
                                                    })
                                                })
                                              </script></td>
                                    <% end %>
                                    <td><%= e.event_owner %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="people" style="font-size:20px">
                        <%= render "people" %>
                    </div>
                </div>
            <% if signed_in? %>
            </div>
            <div class="span1">
                    <div class="btn-group" style="width:100px">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:80px; margin-bottom:10px"> Edit Object <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <a data-toggle="modal" href="#modal-from-dom">Modify </a>
                            <a data-toggle="modal" href="#person-modal-from-dom" style="width:10%; margin-bottom:10px">Add Contact</a>
                            <%= link_to "Add Event", new_piece_event_path(@p) %>
                            <%= link_to "Add Image", new_piece_gallery_gallery_image_path(@p, @p.gallery) %>
                            <% if current_user.role == "Administrator" %>
                                <%= link_to "Delete Object", {:controller => "pieces", :action => "destroy", :id => @p.id}, :method => :delete, :confirm => "Are you sure you want to delete this object?" %>
                            <% end %>
                    </div>
            </div>
            <div class="span1 offset1">
            <%= link_to "View Gallery", piece_gallery_path(@p, @p.gallery), :class => "btn large info",:style=> "width:75px;margin-bottom:10px" %>
            </div>
            <%= render "gallery_bulk_upload"%>
            <% end %>
        </div>
    </div>    
    



