<%= javascript_include_tag "jquery.tablesorter.min.js"%>
<script>
  $(function() {
    $("table#pieceEventIndexTable").tablesorter({ sortList: [[1,0]] });
  });
</script>
<!--  modal content -->
<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Edit Object</h3>
  </div>
  <div class="modal-body">
      <%= render "piece_form"%>
  </div>
</div>
    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#basic_info">Basic Information</a></li>
        <li><a href="#dims">Dimensions</a></li>
        <li><a href="#packing">Packing and Storage</a></li>
        <li><a href="#loans">Loan Information</a></li>
        <li><a href="#hanging">Installation</a></li>
        <li><a href="#notes">Notes</a></li>
        <% unless @p.events.empty? %>
        <li><a href="#events">Events</a></li>
        <% end %>
    </ul>
    <div class="container-fluid">
        <div class="sidebar", style="width:300px">
            <%= image_tag @p.photo.url(:large)%>

        </div>
        <div class="content" style="padding-left:10%">
            <div id="my-tab-content" class="tab-content">
                <div class="active tab-pane" id="basic_info" style="font-size:20px">
                    <%= render "basic_info"%>
                </div>
                <div class="tab-pane" id="dims" style="font-size:20px">
                    <%= render "dimensions"%>
            </div>
                <div class="tab-pane" id="packing" style="font-size:20px">
                    <%= render "packing_info"%>
            </div>
                
                <div class="tab-pane" id="loans" style="font-size:20px">
                    <%= render "loans"%>
            </div>
                
                <div class="tab-pane" id="notes" style="font-size:20px">
                    <%= render "notes"%>
                </div>
          
                <div class="tab-pane" id="hanging" style="font-size:20px">
                    <%= render "hanging" %>
                </div>
                <div class="tab-pane" id="events" style="font-size:20px">
                    <table class="zebra-striped" id="pieceEventIndexTable", style="width:70%"> 
                        <thead> 
                            <tr> 
                    	        <th class="blue">Event Date</th> 
                                <th class="red">Event Type</th>
                                <th class="green">Owner</th> 
                            </tr> 
                        </thead> 
                        <tbody>
                            <% for e in @p.events %>
                            <tr>
                                <td><%= e.event_time.to_date%></td>
                                <% if e.event_tags.empty?%>
                                <td> <%= e.event_type %></td>
                                <% else %>
                                <td><a href="#" rel="popover" data-content="<%=e.event_tags%>"><%= e.event_type %></a>
                                          <script>
                                            $(function () {
                                              $("a[rel=popover]")
                                                .popover({
                                                  offset: 10
                                                })
                                                .click(function(e) {
                                                  e.preventDefault()
                                                })
                                            })
                                          </script></td>
                                <% end %>
                                <td><%= e.event_owner %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% if signed_in? %>
            <div class="row"style="position:absolute; top: 100%;">
            <a class="btn large info" data-controls-modal="modal-from-dom" data-backdrop="static", style="width:10%; margin-bottom:10px">Edit Object</a>
            <%= link_to "Add Event", new_piece_event_path(@p), :class => "btn large info",:style=> "width:10%; margin-bottom:10px" %>
            <%= link_to "Add Image", new_piece_gallery_gallery_image_path(@p, @p.gallery), :class => "btn large info",:style=> "width:10%; margin-bottom:10px" %>
            <%= link_to "View Gallery", piece_gallery_path(@p, @p.gallery), :class => "btn large info",:style=> "width:10%; margin-bottom:10px" %>
            </div>
            <% end %>
        </div>
    </div>    
    



