<h3 style="margin-left:15%">Add Image to Gallery</h3>
<%= form_for @gallery_image, :url => piece_gallery_gallery_images_path(@piece, @gallery), :html => {:multipart => true, :style => "margin-top:1%"} do |f|%>
    <div class="row">
        <%= f.label :photo %>
        <%= f.file_field :photo %>
    </div>
    <div class="row">
        <%= f.label :tags %>
        <%= f.text_field :tags %>
    </div>
    <%= f.hidden_field :piece_id, :value => "#{@piece.id}"%>
    <%= f.hidden_field :gallery_id, :value => "#{@gallery.id}"%>
    <div class="row">
    <%= f.submit :class => "btn large primary", :style => "margin-left:15%"%>
    </div>
<% end %>


