<!DOCTYPE html>
<html>
<head>
  <title>Ribbit</title>
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "jquery.autocomplete" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "rails"%>
  <%= javascript_include_tag "bootstrap"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tag %>
</head>
<body>
    <% unless alert.nil?%>
              <div class="alert alert-error fade in">
                  <a class="close" data-dismiss="alert" href="#">×</a>
        		<%= alert %>
        	  </div>
    <% end %>
    
    <% unless notice.nil?%>
              <div class="alert alert-success fade in">
                  <a class="close" data-dismiss="alert" href="#">×</a>
        		<%= notice %>
        	  </div>
    <% end %>
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                    <% if signed_in? %>
                      <%= current_user.email %>
                      <%= link_to "Sign out", sign_out_path, :method => :delete,  :class => "btn btn-primary", :style=> "width:130px; margin-bottom:10px" %>
                    <%= link_to "Search", "/search", :class => "btn btn-primary", :style=> "width:130px; margin-bottom:10px"%>
                    <% if ['Registrar', 'Collections Manager', 'Administrator'].member? current_user.role %>
                    <%= link_to "New Object", new_piece_path, :class => "btn btn-primary", :style=> "width:130px; margin-bottom:10px" %>
                    <% end %>
                    <%= link_to "List All Objects", pieces_path, :class => "btn btn-primary",:style=> "width:130px; margin-bottom:10px" %>
                    <%= link_to "New Location", new_location_path, :class => "btn btn-primary",:style=> "width:130px; margin-bottom:10px" %>
                    <%= link_to "New Artist", new_artist_path, :class => "btn btn-primary",:style=> "width:130px; margin-bottom:10px" %>
                    <%= link_to "New Person", new_person_path, :class => "btn btn-primary",:style=> "width:130px; margin-bottom:10px" %>
                    <% if current_user.role == "Administrator" %>
                    <%= link_to "User Administration", "/users", :class => "btn btn-primary", :style=> "width:130px; margin-bottom:10px" %>
                    <% end %>
                    <% else %>
                      <%= link_to "Sign in", sign_in_path,  :class => "btn large", :style=> "width:130px; margin-bottom:10px"%>
                    <% end %>
            
            </div>
            <div class="span10" id="before_yield">
                    <%= yield %>
            </div>
      </div>

</body>
</html>
